<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mes livraisons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner [class]="isLoading ? 'loadingSpinner' : 'stoppedSpinner'">
  </ion-spinner>

  <div *ngIf="myDeliveredOrders.length != 0">
    <ion-card *ngFor="let order of myDeliveredOrders">
      <ion-item style="--background: rgb(117, 39, 46); color: white;">
        <ion-icon
          style="color: white;"
          name="calendar-outline"
          slot="start"
        ></ion-icon>
        <ion-label
          >{{ order.realDeliveryTime | date:"dd MMMM yyyy" | titlecase
          }}</ion-label
        >
      </ion-item>
      <ion-card-content>
        <ion-grid class="ion-no-padding">
          <ion-row>
            <ion-col>
              <div>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon name="stopwatch-outline" slot="start"></ion-icon>
                  <span
                    >Heure estimée :
                    <strong
                      >{{ order.estimatedDeliveryTime | date:"HH:mm"}}</strong
                    ></span
                  >
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-item class="ion-no-padding" lines="none">
                  <ion-icon name="time-outline" slot="start"></ion-icon>
                  <span
                    >Heure réelle :
                    <strong
                      >{{ order.realDeliveryTime | date:"HH:mm"}}</strong
                    ></span
                  >
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <div>
                <ion-item class="ion-no-padding" lines="none">
                  <img
                    class="avatarImg circleImg"
                    [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' + order.clientPicture)"
                    alt=""
                    (click)="presentPopoverClientProfile(order.clientId)"
                  />
                  <span
                    (click)="presentPopoverClientProfile(order.clientId)"
                    style="margin-left: 22px;"
                    >{{ order.clientName }}</span
                  >
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col offset="7">
              <div>
                <ion-item lines="none">
                  <ion-button
                    class="btDetails"
                    fill="outline"
                    size="medium"
                    [routerLink]="['/history-details', order.orderId]"
                    >Détails</ion-button
                  >
                </ion-item>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="myDeliveredOrders.length == 0 && !isLoading">
    <ion-grid>
      <ion-row>
        <ion-col size="12" style="text-align: center; margin-top: 40%;">
          <img
            width="100"
            height="100"
            src="../../assets/logos/empty-transparent.png"
            alt="EmptyList"
          />
          <br />
          <span style="color: #b6b6b6; font-style: italic;"
            >Aucune commande livrée !</span
          >
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
