<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >Historique de <br> mes livraisons</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-item color="primary">
      <ion-icon name="calendar-outline" slot="start"></ion-icon>
      <ion-label >26 Janvier 2020</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
        <ion-col>
          <div>
            <ion-item class="ion-no-padding" lines="none">
              <ion-icon name="stopwatch-outline" slot="start"></ion-icon>              
              <span>Heure estimée : 15:00</span>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div >
            <ion-item class="ion-no-padding" lines="none">
              <ion-icon name="time-outline" slot="start"></ion-icon>
              <span>Heure réelle : 14:50</span>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div >
            <ion-item class="ion-no-padding" lines="none">
              <ion-icon name="person-outline" slot="start"></ion-icon>
              <span >Moez Baccouche</span>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="8">
          <div>
            <ion-item lines="none">
              <ion-button fill="outline" routerLink="/history-details">Détails</ion-button>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
