<ion-header>
  <ion-toolbar>
    <ion-title>signature</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [forceOverscroll]="false">

  <ion-range min="2" max="20" color="primary" [(ngModel)]="lineWidth">
    <ion-icon size="small" slot="start" name="brush"></ion-icon>
    <ion-icon  slot="end" name="brush"></ion-icon>
  </ion-range>
 
  <canvas #imageCanvas (mousedown)="startDrawing($event)" (touchstart)="startDrawing($event)"
   (mousemove)="moved($event)" (touchmove)="moved($event)"
   (mouseup)="endDrawing()" (touchend)="endDrawing()" >

  </canvas>
  <ion-button expand='full' (click)="saveImage()">
    <ion-icon  slot='start' name="save-outline">
  
    </ion-icon>
    Enregistrer
  </ion-button>
  <ion-button expand='full' (click)="DeleteImage()">
    <ion-icon  slot='start' name="trash-outline">
  
    </ion-icon>
    Effacer
  </ion-button>
</ion-content>
