.dividerLabels {
    color: rgb(117, 39, 46);
  }
.priceTitles {
    color: #6c757d;
    font-size: 14px;
  }
.imgCircle {
    border-radius: 50%;
  }
.btCourses {
    text-transform: none;
    --color: white;
    --border-color: rgb(117, 39, 46);
    font-size: 12px;
    background: rgb(117, 39, 46);
}