<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button ></ion-back-button>
    </ion-buttons>
    <ion-title>Détails historique</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item color="danger">
      <ion-label >Produits</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
        <ion-col>
          <div>
            <ion-item  lines="none">
              <ion-icon name="stopwatch-outline" slot="start"></ion-icon>              
              <ion-label>Lait délice <br> x5 piéces</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item color="danger">
      <ion-label >Prix</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
        <ion-col>
          <div>
            <ion-item  lines="none">
              <ion-icon name="pricetags-outline" slot="start"></ion-icon>
              <ion-label>Prix Articles = 15DT</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-item  lines="none">
              <ion-icon name="man-outline" slot="start"></ion-icon>
              <ion-label>Prix Livraison = 5DT</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <div>
            <ion-item  lines="none">
              <ion-icon name="cash-outline" slot="start"></ion-icon>
              <ion-label>Total = 20DT</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
    <ion-item color="danger">
      <ion-label >Client</ion-label>
    </ion-item>
    <ion-card-content>
      <ion-grid class="ion-no-padding">
        <ion-row>
        <ion-col>
          <div>
            <ion-item  lines="none">
              <ion-icon name="person-outline" slot="start"></ion-icon>              
              <ion-label>Mehdi Moujahed</ion-label>
            </ion-item>
          </div>
        </ion-col>
      </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
