// .btKm {
//   text-transform: none;
//   --color: white;
//   --border-color: #3880ff;
//   font-size: 14px;
//   background: #3880ff;
// }

.spanDistance {
  background-color: rgb(255, 198, 94);
  color: white;
  font-size: 18px;
  width: 60px;
  height: 30px;
  text-align: center;
}

.imgCircle {
  border-radius: 50%;
}

.btDetails {
  --color: rgb(117, 39, 46);
  --border-color: rgb(117, 39, 46);
  text-transform: none;
}

.btOpenMap {
  text-transform: none;
  --color: rgb(117, 39, 46);
  --border-color: rgb(117, 39, 46);
  height: 30px;
  margin-left: 10px;
}
