<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Vue d'ensemble
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner
    [class]="isLoading ? 'loadingSpinner' : 'stoppedSpinner'"
  ></ion-spinner>

  <div *ngIf="deliveryMan != null">
    <ion-card>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="3">
            <img
              [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +deliveryMan.imageBase64)"
              alt="Img Livreur"
              class="imgCircle"
            />
          </ion-col>
          <ion-col size="9" style="font-size: 16px;">
            {{ deliveryMan.firstName }} {{ deliveryMan.lastName }}
          </ion-col>
        </ion-row>
        <ion-row *ngIf="deliveryMan.rating != 0">
          <ion-col style="color: rgb(117, 39, 46);">
            <div>
              Note Moyenne :
              <!-- The ternary condition means : if the starScore == 0 then set the icon star outline -->
              <!-- else if the star score != 0 and == 1 then set star icon -->
              <!-- else (score == 0.5) set the icon half-star -->
              <ion-icon
                [name]="
                    starOne == 0
                      ? 'star-outline'
                      : starOne == 1
                      ? 'star'
                      : 'star-half-outline'
                  "
              ></ion-icon>
              <ion-icon
                [name]="
                    starTwo == 0
                      ? 'star-outline'
                      : starTwo == 1
                      ? 'star'
                      : 'star-half-outline'
                  "
              ></ion-icon>
              <ion-icon
                [name]="
                    starThree == 0
                      ? 'star-outline'
                      : starThree == 1
                      ? 'star'
                      : 'star-half-outline'
                  "
              ></ion-icon>
              <ion-icon
                [name]="
                    starFour == 0
                      ? 'star-outline'
                      : starFour == 1
                      ? 'star'
                      : 'star-half-outline'
                  "
              ></ion-icon>
              <ion-icon
                [name]="
                    starFive == 0
                      ? 'star-outline'
                      : starFive == 1
                      ? 'star'
                      : 'star-half-outline'
                  "
              ></ion-icon>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12" style="text-align: end;">
            <ion-button class="btProfile" fill="outline" routerLink="/tabs/tab3"
              >Détails</ion-button
            >
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card routerLink="/waiting-orders">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <span>Commandes en attente</span>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/waiting.png" alt="" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card routerLink="/tabs/tab2">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <span>Commandes en cours de traitement</span>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/processing.png" alt="" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card routerLink="/historique">
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="9">
            <span>Historique des livraisons</span>
          </ion-col>
          <ion-col size="3">
            <img src="../../assets/history.png" alt="" />
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>
