<ion-header>
  <ion-toolbar>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button
        fill="clear"
        color="primary"
        (click)="presentPopoverMenu($event)"
      >
        <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner
    [class]="isLoading ? 'loadingSpinner' : 'stoppedSpinner'"
  ></ion-spinner>

  <div *ngIf="deliveryMan != null">
    <div class="header">
      <h2>{{ deliveryMan.firstName }} {{ deliveryMan.lastName }}</h2>

      <div class="space-between">
        <div class="followings">
          <ion-badge color="primary" mode="ios"
            >{{ nbDeliveredOrders }}</ion-badge
          >
          <p>Livraisons effectuées</p>
        </div>

        <div class="followings">
          <ion-badge color="primary" mode="ios"
            >{{ deliveryMan.rating.toFixed(1) }}/5</ion-badge
          >
          <p>Note moyenne</p>
        </div>
      </div>
    </div>

    <div>
      <div class="flex">
        <div class="border-blue">
          <div class="border-white">
            <div class="img-box">
              <img
                [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,' +deliveryMan.imageBase64)"
                tappable
                (click)="openPreview('data:image/jpg;base64,' +deliveryMan.imageBase64)"
              />
            </div>
          </div>
        </div>
      </div>

      <ion-grid>
        <ion-row style="padding: 0px;">
          <ion-col style="text-align: center; padding: 0px;">
            <h6>Email: <strong>{{ deliveryMan.email}}</strong></h6>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px; padding: 0px;">
          <ion-col style="text-align: center; padding: 0px;">
            <h6>
              Adresse:
              <strong
                >{{ deliveryMan.location.address }}, {{
                deliveryMan.location.city }}</strong
              >
            </h6>
          </ion-col>
        </ion-row>
        <ion-row style="padding: 0px; padding: 0px;">
          <ion-col style="text-align: center; padding: 0px;">
            <h6>Téléphone: <strong>{{ deliveryMan.phone }}</strong></h6>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
