<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-back-button></ion-back-button>
      <ion-title>Détails commande</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner
    [class]="isLoading ? 'loadingSpinner' : 'stoppedSpinner'"
  ></ion-spinner>
  <div class="map" id="map"></div>

  <div *ngIf="order != null">
    <ion-grid>
      <ion-row *ngIf="order.status == 2">
        <ion-col size="12" style="text-align: center;">
          <ion-button fill="outline" class="btnNavigate">
            <ion-icon name="navigate-circle-outline" slot="end"></ion-icon>
            Guides-moi
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row class="ion-align-items-center" style="font-size: 12px;">
        <ion-col
          size="6"
          style="text-align: left; font-style: italic; color: grey;"
        >
          <span>{{ order.statusString }}</span>
        </ion-col>
        <ion-col style="text-align: end;" size="6" *ngIf="order.status == 2">
          <span
            >Distance: <strong>{{ distance | number:"1.2-2"}}</strong> Km</span
          >
        </ion-col>
      </ion-row>
      <hr />
      <ion-row class="ion-align-items-center">
        <ion-col size="2">
          <img
            [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+order.client.imageBase64)"
            class="circleImg"
            height="35"
            width="35"
            alt=""
          />
        </ion-col>
        <ion-col size="8">
          <ion-row>
            <ion-col style="font-size: 12px;">
              <span><strong>{{ order.client.fullName }}</strong></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col style="font-size: 10px; color: grey;">
              <span
                >{{ order.client.location.address }}, {{
                order.client.location.city }}</span
              >
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="2">
          <img
            (click)="callClient(order.client.phone)"
            src="../../../assets/phone64.png"
            height="30"
            width="30"
            alt="Call"
          />
        </ion-col>
      </ion-row>

      <hr />

      <ion-row>
        <ion-col style="text-align: left; font-size: 12px;">
          <span (click)="changeProductsVisibility()"
            ><u>{{ order.products.length }} Articles</u></span
          >
        </ion-col>
        <ion-col
          style="text-align: end; font-size: 12px; color: rgb(117, 39, 46);"
        >
          <span><strong>{{ order.orderPrice }}</strong> DT</span>
        </ion-col>
      </ion-row>

      <div [class]="displayProducts ? 'showProducts' : 'hideProducts'">
        <ion-row
          class="ion-align-items-center"
          *ngFor="let product of order.products"
        >
          <ion-col size="3">
            <img
              [src]="domSanitizer.bypassSecurityTrustUrl('data:image/jpg;base64,'+product.imageBase64)"
              alt="Img Prod"
            />
          </ion-col>
          <ion-col size="7" style="font-size: 12px;">
            <ion-row>
              <ion-col>
                <span>{{ product.name }}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span><strong>x{{ product.amount }}</strong></span>
              </ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="2" *ngIf="order.status == 1">
            <ion-checkbox
              (ionChange)="editNbBoughtProducts($event)"
              class="productCheckbox"
            ></ion-checkbox>
          </ion-col>
        </ion-row>
      </div>
      <ion-row>
        <ion-col style="text-align: center;">
          <ion-button
            fill="outline"
            class="btnDeliver"
            *ngIf="order.status == 1"
            (click)="onDeliverOrderClick()"
            [disabled]="isUpdating"
          >
            <ion-icon name="basket" slot="end"></ion-icon>
            Livrer
          </ion-button>
          <ion-button
            fill="outline"
            class="btnDeliver"
            *ngIf="order.status == 2"
            (click)="completeDelivery()"
          >
            <ion-icon name="flag" slot="end"></ion-icon>
            Arrivé
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
